@tailwind base;
@tailwind components;
@tailwind utilities;

.card-bg{
    background-image: url('./assets/bg.png');
    background-size: cover;
}

.hide-scrollbar {
    overflow: auto;
    scrollbar-width: none;
  }